@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color:  rgba(231,101,44,255);
  transition: 0.30s;
  padding: 2px;
}

a:hover {
    background-color: #242424; 
    border-radius: 5px;
}



.main_content {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  min-height: calc(100vh - 88px);  
  max-width: 2000px;
}

@media only screen and (min-width: 2000px) {
  .main_content {
    margin: auto;
  }
}

.no_caret{
  caret-color: transparent;
}

.orange_container{
  border: 2px solid rgb(232, 104, 44);
  border-radius: 20px;
  padding: 20px;
  background-color: #8686863b;
  margin: auto;
  max-width: 1200px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  box-shadow: 0 2px 5px rgba(232, 104, 44, 0.5);
}