@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color:  rgba(231,101,44,255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
     background-color: hsla(0, 0%, 0%, 0.2); 
  }
}


